.launcherItem:hover{
	-fx-text-fill:green;
	-fx-opacity: 0.8;
}
.anchor {
    -fx-background-color: transparent;
}
.bt {
	-fx-background-image:url('button.png');
}
.question {
	-fx-background-image:url('question.png');
}
.next {
	-fx-background-image:url('next.png');
}
.back {
	-fx-background-image:url('back.png');
}