.launcherItem:hover{
	-fx-text-fill:green;
	-fx-opacity: 0.8;
}
.anchor {
    -fx-background-image:url('/images/bg.jpeg');
}
.bt {
	-fx-background-image:url('/images/button.png');
}
.back {
	-fx-background-image:url('/images/back.png');
}
.scroll-pane .viewport {
	-fx-background-color: transparent;
}